MODEL_NAME=qwen3:1.7b
OLLAMA_URL=http://ollama:11434
EMBEDDINGS_MODEL=qwen3-embedding:4b
RERANKER_MODEL=cross-encoder/ms-marco-MiniLM-L4-v2

QDRANT_HOST=qdrant
QDRANT_COLLECTION=news_articles

WEATHER_MCP_SERVER=http://mcp_server:8080/mcp
